.app-header{
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 20px;
}
.app-header h1{
  color: white;
}
.user-info{
  color: white;
}
@media screen and (max-width: 380px) {
  .app-header {
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
  }
  .app-header h1 {
    font-size: calc(12px + 2vmin);
    margin-bottom: 10px;
  }
}